@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    
}

body {
    font-family: 'Cormorant Infant', serif;
    font-size: 100%;
    padding-top: 60px;
    background: linear-gradient(103.62deg, #FDF8F2 11.71%, #FFFCF8 95.03%);
}

.menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(103.62deg, rgba(243, 235, 223, 0.52) 11.71%, rgba(249, 243, 235, 0.31) 95.03%);
    height: 70px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.menu {
    display: none;
}

.icon_Menu {
    display: none;
}

.bold {
    font-weight: 600;
}

ul { 
    display: flex;
    gap: 30px;
}

.a {
    font-family: Cormorant Infant;
    font-size: 18px;
    font-weight: 300;
    color: #5B4C38;
}

.a:hover {
    font-weight: 600;
    text-decoration: underline; 
}

.main-banner {
    display: block;
    align-items: center;
    margin-top: 70px;
}

.selo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 530px;
}

.info {
display: block;
text-align: center;
margin-top: 24px;

}

.headline {
    font-family: Cormorant Infant;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 9px;
    color: #5B4C38;
    margin-top: 24px;
}

.h1 {
    font-family: Cormorant Infant;
    font-size: 32px;
    font-weight: 300;
    color: #5B4C38;
    text-align: center;
}

hr {
	border: 0;
	border-top: 1px solid #ccc2b5;
    width: 46%;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;

}

.data_elemento {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 18%;
    margin-left: auto;
    margin-right: auto;

}

.date {
    font-family: Mulish;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 9px;
    color: #5B4C38;
    margin-top: 8px;
}

.subheadline {
    font-family: Mulish;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #5B4C38;
    margin-bottom: 48px;
}

.h2 {
    font-family: Cormorant Infant;
    font-size: 24px;
    font-weight: 500;
    color: #5B4C38;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4%;
}
.h_savethedate {
    font-family: Cormorant Infant;
    font-size: 24px;
    font-weight: 500;
    color: #5B4C38;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-family: Cormorant Infant;
    font-size: 24px;
    font-weight: 500;
    color: #5B4C38;
    text-align: center;
}

.parte2 {
    display: block;
    padding-top: 48px;
    padding-bottom: 48px;
}

.sessoes {
display: flex;
justify-content: space-around;
margin-left: auto;
margin-right: auto;
width: 60%;
}

.card_01 {
    display: flex;
    align-items: center;
    background-image: url("/Assets/Card_Address.svg");
    background-size: 100% 100%;
    width: 260px;
    height: 260px;
    padding-top: 46px;
}

.card_01:hover {
    background-image: url("/Assets/Card_Address_hover.svg");
    cursor: pointer;
}

.card_02:hover {
    background-image: url("/Assets/Card_Gift__hover.svg");
    cursor: pointer;
}

.card_03:hover {
    background-image: url("/Assets/Card_Dress__hover.svg");
    cursor: pointer;
}

.card_02 {
    display: flex;
    align-items: center;
    background-image: url("/Assets/Card_Gift.svg");
    background-size: 100% 100%;
    width: 260px;
    height: 260px;
    padding-top: 46px;
}

.card_03 {
    display: flex;
    align-items: center;
    background-image: url("/Assets/Card_Dress.svg");
    background-size: 100% 100%;
    width: 260px;
    height: 260px;
    padding-top: 46px;
}

.Text_card {
    font-family: Mulish;
    text-align: center;
    line-height: 120%;
    font-size: 24px;
    font-weight: 600;
    color: #5B4C38;
    width: 100%;
}

.material-symbols-outlined {
    font-size: 120px;
    font-variation-settings: 'OPSZ' 40;
    font-variation-settings: 'wght' 100;
}

.contatos {
    display: flex;
    margin-left: 12%;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    gap: 8px;
}

.text_mulishi {
    font-family: Mulish;
    text-align: center;
    line-height: 120%;
    font-size: 16px;
    font-weight: 600;
}

.bloco_contatos {
    display: block;
    border: 1px solid #5B4C38 ;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 48px;
}

.icon {
    width: 32px;
    height: 32px;
}

.footer {
    display: block;
    background-color: white;
    padding-top: 48px;
    padding-bottom: 48px;
}



.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}

.text_counter_date {
    font-family: Cormorant Infant;
    font-size: 24px;
    font-weight: 500;
    color: #5B4C38;
    text-align: center;
}

.text_counter{
    font-family: Mulish;
    color: #5B4C38;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.count-wrapper{
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 .6rem;
}
.count-wrapper div{
    font-family: Mulish;
    color: #5B4C38;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20%;
}
.count-wrapper span{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: .2rem 0;
}

.maps {
    display: block;
    width: 50%;
    height: auto;
}

.right_block {
    display: flex;
    height: 360px;
    margin: 48px 0 48px 0;
}

.posto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: solid #5B4C38;
    border-width: 1px 0 1px 1px;

}

.block_villa{
    display: block;
    background-image: url(/Assets/villadini.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: auto;
}

.section_place {
    display: block;
    padding: 48px 10% 48px 10%;
}

.comochegar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: solid #5B4C38;
    border-width: 1px 1px 1px 0;
    padding: 0 5% 0 5%;
}

.content_block {
    width: 90%;
    height: auto;
}

.hoteis {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-top: 48px;
}

.recomend_01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-image: url(/Assets/Sandiovani.jpeg), url(/Assets/Multiply.jpg) ;
    background-size: cover;
    background-blend-mode: multiply;
}

.recomend_01:hover {
    background-blend-mode: soft-light;

}

.space_48px {
    margin-top: 24px;
}

.link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
}

@media only screen and (max-width: 1240px) {
    .main-banner {
        display: block;
        align-items: center;
        margin-top: 70px;
    }
    
    .selo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 530px;
    }
    
    .info {
    display: block;
    text-align: center;
    margin-top: 24px;
    
    }
    
    .headline {
        font-family: Cormorant Infant;
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 9px;
        color: #5B4C38;
        margin-top: 24px;
    }
    
    .h1 {
        font-family: Cormorant Infant;
        font-size: 32px;
        font-weight: 300;
        color: #5B4C38;
    }
    
    hr {
        border: 0;
        border-top: 1px solid #ccc2b5;
        width: 94%;
        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .data_elemento {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .date {
        font-family: Mulish;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 9px;
        color: #5B4C38;
        margin-top: 8px;
    }
    
    .subheadline {
        font-family: Mulish;
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        color: #5B4C38;
        margin-bottom: 48px;
    }
    
    .h2 {
        font-family: Cormorant Infant;
        font-size: 24px;
        font-weight: 500;
        color: #5B4C38;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 4%;
    }
    .h_savethedate {
        font-family: Cormorant Infant;
        font-size: 24px;
        font-weight: 500;
        color: #5B4C38;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    
    p {
        font-family: Cormorant Infant;
        font-size: 24px;
        font-weight: 500;
        color: #5B4C38;
        text-align: center;
    }
    
    .parte2 {
        display: block;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .sessoes {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    }
    
    .card_01 {
        display: flex;
        align-items: center;
        background-image: url("/Assets/Card_Address.svg");
        background-size: 100% 100%;
        width: 260px;
        height: 260px;
        padding-top: 46px;
    }
    
    .card_01:hover {
        background-image: url("/Assets/Card_Address_hover.svg");
        cursor: pointer;
    }
    
    .card_02:hover {
        background-image: url("/Assets/Card_Gift__hover.svg");
        cursor: pointer;
    }
    
    .card_03:hover {
        background-image: url("/Assets/Card_Dress__hover.svg");
        cursor: pointer;
    }
    
    .card_02 {
        display: flex;
        align-items: center;
        background-image: url("/Assets/Card_Gift.svg");
        background-size: 100% 100%;
        width: 260px;
        height: 260px;
        padding-top: 46px;
    }
    
    .card_03 {
        display: flex;
        align-items: center;
        background-image: url("/Assets/Card_Dress.svg");
        background-size: 100% 100%;
        width: 260px;
        height: 260px;
        padding-top: 46px;
    }
    
    .Text_card {
        font-family: Mulish;
        text-align: center;
        line-height: 120%;
        font-size: 24px;
        font-weight: 600;
        color: #5B4C38;
        width: 100%;
    }
    
    .material-symbols-outlined {
        font-size: 120px;
        font-variation-settings: 'OPSZ' 40;
        font-variation-settings: 'wght' 100;
    }
    
    .contatos {
        display: flex;
        margin-left: 12%;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
        gap: 8px;
    }
    
    .text_mulishi {
        font-family: Mulish;
        text-align: center;
        line-height: 120%;
        font-size: 16px;
        font-weight: 600;
    }
    
    .bloco_contatos {
        display: block;
        border: 1px solid #5B4C38;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .icon {
        width: 32px;
        height: 32px;
    }
    
    .footer {
        display: block;
        background-color: white;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    
    
    .wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 48px;
    }
    
    .text_counter_date {
        font-family: Cormorant Infant;
        font-size: 24px;
        font-weight: 500;
        color: #5B4C38;
        text-align: center;
    }
    
    .text_counter{
        font-family: Mulish;
        color: #5B4C38;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
    
    .count-wrapper{
        width: 90px;
        height: 90px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 .6rem;
    }
    .count-wrapper div{
        font-family: Mulish;
        color: #5B4C38;
        font-size: 48px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20%;
    }
    .count-wrapper span{
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: .2rem 0;
    }
}

@media only screen and (max-width: 759px) {

    .a {
        margin-top: 48px;
        font-size: 24px;
        width: 100%;
    }


    .card_01:hover {
         background-image: url("/Assets/Card_Address_mobile.svg");
         cursor: none;
    }

    .card_02:hover {
        background-image: url("/Assets/Card_Gift_mobile.svg");
        cursor: pointer;
    }
    
    .card_03:hover {
        background-image: url("/Assets/Card_Dress_mobile.svg");
        cursor: pointer;
    }

    .menubar {
        display: block;
        width: 100%;
        height: auto;
    }

    .main-banner {
        padding-top: 24px;
    }

    .nav {
        display: none;
        align-content: center;
        height: 100%;
    }

    .icon_Menu {
        display: block;
        margin-left: auto;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .tag {
        margin-bottom: 48px;
        text-align: center;
    }

    hr {
        width: 80%;
    }

    .ul_mobile {
        display: block;
    }

    body {
        padding-left: 8px;
        padding-right: 8px;
    }

    .data_elemento {
        width: 70%;
    }

    .sessoes{
        display: block;
        margin-left: none;
        margin-right: no;
        width: 100%;
    }

    .card_01 {
        width: 340px;
        height: 220px;
        margin-right: auto;
        margin-left: auto;
        background-image: url("/Assets/Card_Address_mobile.svg");
    }
    .card_02 {
        width: 340px;
        height: 220px;
        margin-right: auto;
        margin-left: auto;
        background-image: url("/Assets/Card_Gift_mobile.svg");
    }
    .card_03 {
        width: 340px;
        height: 220px;
        margin-right: auto;
        margin-left: auto;
        background-image: url("/Assets/Card_Dress_mobile.svg");
    }

   .subheadline {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
   }

   .bloco_contatos {
    width: 90%;
    padding-left: 0px;
    
    
   }

   .contatos {
    justify-content: center;
    width: 70%;
   }

   .text_mulishi {
    width: 70%;
    text-align: left;
   }

   .h2 {
    width: 80%;
   }

   .count-wrapper div {
    font-size: 40px;
    margin-bottom: 20px;
   }

   .text_counter_date{
    font-size: 18px;
   }

   .count-wrapper {
    width: 60px;
    height: 60px;
   }

   .right_block {
    display: block;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
   }

   .posto {
    width: 100%;
    height: auto;
    padding: 48px 0 48px 0;
    border-width: 1px 1px 1px 1px;
   }

   .block_villa {
    height: 220px;
    width: 100%;
   }

   .section_place {
    width: 100%;
    padding: 48px 0 48px 0 ;
   }

   .maps {
    width: 100%;
    height: 220px;
   }

   .comochegar {
    width: 100%;
    height: auto;
    padding: 48px 24px 48px 24px ;
    border-width: 1px 1px 1px 1px;
   }

   .hoteis {
    display: block;
   }

   .recomend_01 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
   }
   
}